---
import Navbar from '../components/navbar.astro'
import Layout from '../layouts/Layout.astro';
import {songs} from '../components/songs'
import 'animate.css';

---

<Layout title="This is The Weeknd.">
    <Navbar/>
    <main>
        <div>
            <section>
                <div>
                    <h1 class="animate__animated animate__fadeInDownBig text-gradient">Below are the some of The Weeknd's top tracks.</h1> <br/>
                    <div class="center">
                        <div class="song">
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/artist/1Xyo4u8uXC1ZmMpatF05PJ?utm_source=generator&theme=0" width="720px" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        </div>
                        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/5L5evi5tJPh8WaEFAQp7Tp?utm_source=generator&theme=0" width="720px" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>    
                    </div>
                </div>
            </section>
            <section>
                <div>
                    <h2>But these are my personal favorites:</h2>
                    <div class="center">
                        {songs.map((song) => (
                            <div class="song">
                            <iframe style="border-radius:12px" src={song} width="100%" height="100%" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                            </div>
                        ))}
                    </div>
                </div>
            </section>
        </div>
    </main>
</Layout>

<style>
    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 100%;
        background-position: 0%;
	}
    main {
        margin: 20px;
    }
    h1 {
        font-size: 3.5rem;
    }
    h1, h2 {
        text-align: center;
    }
    section .center {
        display: flex;
        justify-content: center;
    }
    .song {
        display: inline-block;
        padding-right: 10px;
        width: 45em;
        height: 20em;
        max-height: 200px;
    }
</style>